<template>
  <div>
    <label v-if="label" class="form-label" :class="labelStyle" :for="id">{{ label }}</label>
    <input :id="id" ref="input" v-bind="$attrs" class="form-input"
      :class="{ error: errors.length, 'bg-gray-100 text-gray-500 pointer-events-none': disabled, 'text-custom-text-3 font-semibold text-sm':textStyle}"
      :type="type" :value="value" @input="$emit('input', $event.target.value)"
    >
    <div v-if="errors.length" class="form-error">{{ errors[0] }}</div>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default() {
        return `text-input-${this._uid}`
      },
    },
    type: {
      type: String,
      default: 'text',
    },
    value: [String, Number],
    labelStyle: [String],
    textStyle: [Boolean],
    label: String,
    disabled: Boolean,
    errors: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    focus() {
      this.$refs.input.focus()
    },
    select() {
      this.$refs.input.select()
    },
    setSelectionRange(start, end) {
      this.$refs.input.setSelectionRange(start, end)
    },
  },
}
</script>
