<template>
  <div class="container flex flex-col space-y-10">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <div>
      <Logo />
      <h1 class="title">
        learn-nuxt
      </h1>
      <div class="links">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="button--green"
        >
          Documentation
        </a>
        <a
          href="https://github.com/nuxt/nuxt.js"
          target="_blank"
          rel="noopener noreferrer"
          class="button--grey"
        >
          GitHub
        </a>
      </div>
      <div v-if="user" class="flex justify-center mt-20">
        <div class="text-lg flex flex-col justify-center items-center">
          <div class="rounded-full w-20 border items-center justify-center flex flex-wrap border-green-500 mb-1">
            <UserIcon class="text-green-500" size="4x" />
          </div>
          {{ user.data.nama }}
        </div>
        <!-- {{ user.data }} -->
      </div>
    </div>
    <div class="flex flex-col space-y-5 capitalize p-10 bg-green-200 rounded-lg">
      <div class="flex justify-end space-x-4 items-center">
        <label for="">username</label>
        <input class="border border-gray-200 rounded-md px-4 py-2" type="text" v-model="username">
      </div>
      <div class="flex justify-end space-x-4 items-center">
        <label for="">password</label>
        <input class="border border-gray-200 rounded-md px-4 py-2" type="password" v-model="password">
      </div>
      <div class="flex justify-end space-x-5">
        <a
          v-if="!user"
          href=""
          @click.prevent="login"
          class="px-4 py-4 border ourline-1 rounded-md bg-green-500 hover:bg-green-700 text-white font-semibold"
        >
          Login
        </a>
        <a
          v-else
          href=""
          @click.prevent="logout"
          class="px-4 py-4 border ourline-1 rounded-md bg-red-500 hover:bg-red-700 text-white font-semibold"
        >
          Logout
        </a>
      </div>
    </div>
    <div class="rounded-lg p-10 flex flex-col capitalize space-y-5 bg-blue-200" v-if="user">
      <div class="flex justify-end mb-5">
        <TextInput />
        <button @click="getUser" class="px-4 py-2 rounded-md bg-gray-200 hover:bg-gray-400">
          List User
        </button>
      </div>
      <table class="bg-white">
        <thead class="uppercase">
          <tr>
            <th class="tracking-wider leading-4 px-4 py-2 text-sm bg-gray-100 border-gray-200 border-b">nama</th>
            <th class="tracking-wider leading-4 px-4 py-2 text-sm bg-gray-100 border-gray-200 border-b">username</th>
            <th class="tracking-wider leading-4 px-4 py-2 text-sm bg-gray-100 border-gray-200 border-b">level</th>
          </tr>
        </thead>
        <tbody>
          <template v-if="list_user">
            <tr v-for="(item, index) in list_user.data.pengguna" :key="index" class="bg-gray-100 hover:bg-gray-200 text-sm">
              <td class="tracking-wider leading-4 px-4 py-2 border-gray-200 border-b">
                {{ item.nama }}
              </td>
              <td class="tracking-wider leading-4 px-4 py-2 border-gray-200 border-b">
                {{ item.username }}
              </td>
              <td class="tracking-wider leading-4 px-4 py-2 border-gray-200 border-b">
                {{ item.level }}
              </td>
            </tr>
          </template>
          <tr class="bg-gray-100 hover:bg-gray-200 text-sm" v-else>
            <td colspan="3" class="tracking-wider leading-4 px-4 py-2 border-gray-200 border-b">
              Data Pengguna Tidak Ada
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { DownloadIcon, UserIcon, } from 'vue-feather-icons';

export default {
  components: {
    DownloadIcon,
    UserIcon,
  },
  data(){
    return{
      username: null,
      password: null,
      user: null,
      list_user: null,
    }
  },
  mounted(){
  },
  methods: {
    async login(){
      axios.defaults.withCredentials = true
      // get cookie from laravel site
      await axios.get('http://localhost:8000/sanctum/csrf-cookie')

      // login to web route that is allowed in laravel cors pakage
      await axios.post('http://localhost:8000/login/attempt/api', {
        username: this.username,
        password: this.password,
        api: true,
      })

      // get the user data using api route
      this.user = await axios.get('http://localhost:8000/api/user')

      console.log(this.user.data)
    },
    async logout(){
      axios.defaults.withCredentials = true

      // logout using laravel web route
      await axios.post('http://localhost:8000/logout')
      this.user = null
    },
    async getUser(){
      axios.defaults.withCredentials = true

      // get all user from api
      this.list_user = await axios.get('http://localhost:8000/api/pengaturan/pengguna')
    },
  }
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
